---
import Menu from "../components/Menu";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Prima Pizza Capbreton - Livraison de pizzas et pizzas à emporter."
>
  <main>
    <div class="text-xs md:text-base text-slate-800 p-2">
      <p class="pb-3">
        Bienvenue à la Prima Pizza, la pizzeria de référence à Capbreton et
        Hossegor ! Nous sommes fiers de vous proposer des pizzas artisanales de
        qualité, préparées avec soin par nos chefs passionnés.
      </p>
      <p class="pb-3">
        Nos gérants, Théo et Marina, originaires de Capbreton, mettent leur
        expertise et leur savoir-faire à votre service pour vous offrir des
        pizzas savoureuses et uniques.
      </p>
      <p class="pb-3">
        Découvrez notre carte variée de pizzas, élaborées avec des ingrédients
        frais et de qualité que nous pouvons livrer directement chez vous.
        N'attendez plus pour commander en nous téléphonant au numéro ci-dessous
        !
      </p>
    </div>
    <Menu />
    <div class="text-center">
      <a class="text-slate-800 text-xs" href="/mentions-legales/"> Mentions légales</a>
    </div>
  </main>
</Layout>
