---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Prima Pizza Capbreton - Livraison de pizzas et pizzas à emporter."
>
  <main>
    <h1>Mentions légales :</h1>
    <section>
      <h2>1. Informations générales :</h2>
      <p>
        Nom du site : www.prima-pizza-capbreton.fr<br />
         Propriétaire : Théo Giverso<br />
         Adresse : 77 avenue Georges Pompidou, 40130 Capbreton<br />
         Contact : 05 58 74 94 95
      </p>
    </section>

    <section>
      <h2>2. Propriété intellectuelle :</h2>
      <p>
        Tous les contenus présents sur ce site (textes, images, vidéos, etc.)
        sont la propriété exclusive de Théo Giverso et sont protégés par les
        lois relatives à la propriété intellectuelle. Toute reproduction,
        distribution ou utilisation non autorisée est strictement interdite.
      </p>
    </section>

    <section>
      <h2>3. Collecte de données personnelles :</h2>
      <p>
        Ce site ne collecte aucune donnée personnelle de ses visiteurs, y
        compris les cookies. Aucune information n'est stockée ou utilisée à des
        fins de suivi ou de ciblage publicitaire.
      </p>
    </section>

    <section>
      <h2>4. Responsabilité :</h2>
      <p>
        Théo Giverso s'efforce d'assurer l'exactitude des informations relatives
        aux produits et services offerts sur ce site, mais ne peut garantir
        l'absence d'erreurs, notamment dans les descriptions des pizzas, les
        prix ou les horaires d'ouverture. Théo Giverso décline toute
        responsabilité quant à l'utilisation qui pourrait être faite des
        informations présentes sur ce site.
      </p>
    </section>

    <section>
      <h2>5. Liens externes :</h2>
      <p>
        Ce site peut contenir des liens vers des sites externes. [Nom du
        propriétaire] n'est pas responsable des contenus ou pratiques de ces
        sites tiers.
      </p>
    </section>

    <section>
      <h2>6. Modification des mentions légales :</h2>
      <p>
        Théo Giverso se réserve le droit de modifier les présentes mentions
        légales à tout moment. Les utilisateurs du site sont invités à les
        consulter régulièrement.
      </p>
    </section>

    <section>
      <h2>7. Hébergement du site :</h2>
      <p>
        Ce site est hébergé par la société Vercel Inc., située 340 S Lemon Ave
        #4133 Walnut, CA 91789, et joignable au (559) 288-7060.
      </p>
    </section>
  </main>
</Layout>
