<div class="sticky bottom-0 bg-slate-900">
  <div class="flex flex-row p-2 justify-between">
    <div class="flex-1">
      <small class="text-slate-100"
        >77 avenue Georges Pompidou, 40130 Capbreton</small
      >
    </div>
    <div class="flex-1 text-right align-middle">
      <a class="text-slate-100 font-mono font-semibold" href="tel:+33558749495">
        05 58 74 94 95
      </a>
    </div>
  </div>
</div>
