<!-- Footer Navigation -->
<footer class="max-w-5xl mx-auto">
  <div
    class="container mx-auto px-4 py-6 bg-white md:bg-slate-50 backdrop-blur-sm border-x border-slate-200"
  >
    <div class="container mx-auto px-4 text-center">
      <nav aria-label="Liens légaux">
        <a
          href="/mentions-legales/"
          class="text-slate-600 hover:text-slate-800 text-sm underline hover:no-underline transition-colors duration-200"
        >
          Mentions légales
        </a>
      </nav>
    </div>
  </div>
  <iframe
    id="map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.7267130921773!2d-1.4411861000000001!3d43.6538539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd515b624b11ccdb%3A0x6b9a84c2aa784331!2sPrima%20Pizza!5e0!3m2!1sfr!2sfr!4v1751838041936!5m2!1sfr!2sfr"
    class="w-full h-64 sm:h-80 md:h-96"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</footer>
