<header
  class="sticky top-0 bg-gradient-to-r from-slate-100 via-red-50 to-slate-100 flex flex-col text-center py-2"
>
  <div class="container mx-auto font-mono">
    <div>
      <h1 class="font-bold uppercase font-serif text-3xl text-red-500 text-bor">
        La Prima Pizza <div class="hidden">Capbreton</div>
      </h1>
    </div>
    <div class="border-y-2 border-slate-700 text-slate-800 py-2 m-2">
      <div
        class="flex flex-row justify-center font-bold font-serif uppercase text-xs"
      >
        <div class="px-2">
          <h2>Pizzas à emporter</h2>
        </div>
        <div class="px-2">
          <h2>Livraison de pizzas</h2>
        </div>
      </div>
      <div class="text-xs">77 avenue Georges Pompidou, 40130 Capbreton</div>
    </div>

    <div>
      <a class="font-semibold text-green-600" href="tel:+33558749495">
        05 58 74 94 95</a
      >
    </div>
  </div>
</header>
