<header class="sticky top-0 bg-red-700 text-white flex flex-col text-center">
  <div class="container mx-auto">
    <div>
      <h1 class="rochester text-2xl up">Prima Pizza</h1>
    </div>
    <div>
      <a class="text-slate-100 font-mono font-semibold" href="tel:+33558749495">
        05 58 74 94 95
      </a>
    </div>
    <div class="text-xs">77 avenue Georges Pompidou, 40130 Capbreton</div>

    <div class="flex flex-row mx-3 pb-3 justify-evenly font-bold">
      <div class="flex-1">
        <h2><small>Pizzas à emporter</small></h2>
      </div>
      <div class="flex-1">
        <h2><small>Livraison de pizzas</small></h2>
      </div>
    </div>
  </div>
</header>

<style>
  .rochester {
    font-family: "rochester", cursive;
  }
</style>
