<header
  id="primaPizza"
  class="sticky top-0 bg-red-600 text-white flex flex-col text-center"
>
  <h1>Prima Pizza</h1>
  <div class="flex flex-row mx-3 pb-3 justify-evenly font-bold">
    <div class="flex-1">
      <h2><small>Pizzas à emporter</small></h2>
    </div>
    <div class="flex-1">
      <h2><small>Livraison de pizzas</small></h2>
    </div>
  </div>
</header>

<style>
  #primaPizza h1 {
    font-size: 3em;
    font-family: "AlwaysInMyHeart", sans-serif;
  }
</style>
