<header class="sticky top-0 bg-slate-200 flex flex-col text-center shadow">
  <div class="container mx-auto font-mono">
    <div>
      <h1 class="font-bold uppercase font-serif text-3xl">
        Prima Pizza <div class="hidden">Capbreton</div>
      </h1>
    </div>
    <div class="border-y-2 border-slate-700 text-slate-800 py-2 m-2">
      <div
        class="flex flex-row justify-center font-bold font-serif uppercase text-xs"
      >
        <div class="px-2">
          <h2>Pizzas à emporter</h2>
        </div>
        <div class="px-2">
          <h2>Livraison de pizzas</h2>
        </div>
      </div>
      <div class="text-xs">77 avenue Georges Pompidou, 40130 Capbreton</div>
    </div>

    <div class="pb-2">
      <a class="font-semibold" href="tel:+33558749495"> 05 58 74 94 95</a>
    </div>
  </div>
</header>
