---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Pizzas à emporter et livraison de pizzas sur Capbreton et Hossegor."
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      data-domain="prima-pizza-capbreton.fr"
      src="https://plausible.clementlopez.fr/js/script.js"></script>
    <title>{title}</title>
  </head>
  <body class="font-serif mx-auto max-w-4xl bg-slate-100">
    <Header />
    <div class="container p-3 mx-auto md:text-base text-left sm:text-sm">
      <slot />
    </div>
    <!-- <Footer /  > -->
  </body>
</html>